$alto: 100vh;

@for $i from 0 to 4 {
  .marginSize-#{$i} {
    margin: 3.3rem * $i auto;
  }
}

//  ------------ General ------------
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-size: 1rem;
  color: white;
}

main {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: relative;
}

.body__color {
  background-color: #000000;
}

//  ------------ Header ------------

#navbar__style {
  background-color: #0c0e0e;
}

//  ------------ Main ------------

.section__maintenance {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.parallax__container {
  position: relative;
  height: 385px;
  overflow: hidden;

  .parallaxDates {
    background-image: url(../img/Holosphere_world.jpg);
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: alto/2;
  }
}

table {
  .table__info {
    color: #ccc;
    font-weight: light;
  }
}

.about {
  .about__text {
    color: rgb(184, 179, 179);
  }

  .about__img {
    border-radius: 20px;
  }
}

.location {
  text-align: center;
}

//  ------------ Footer ------------

.footer__style {
  background-color: #00000000;
  font-size: 12px;
  .footer__style-text {
    font-weight: 500;
    color: rgb(160, 153, 153);
  }
}

footer .mediaIcon:hover {
  transition: all 1s;
  transform: scale(0.85);
}

footer :not(:hover) {
  transition: all 1s;
  transform: scale(1);
}
