<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title>Contact</title>
    <link rel="stylesheet" href="../scss/style.css" />
  </head>

  <body class="vh-100 body__color">
    <!-- Comienzo de header -->
    <header class="position-relative mb-5">
      <div class="container">
        <!-- Barra de navegacion -->
        <nav
          class="navbar navbar-expand-lg navbar-dark fixed-top"
          id="navbar__style"
        >
          <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="../index.html">
              <img
                src="../img/eric-prydz-logo.png"
                alt="Logo de Eric Prydz"
                height="50"
              />
            </a>
            <!-- Menu responsive-->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-end"
              id="navbarNavAltMarkup"
            >
              <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="../index.html"
                  >Home</a
                >
                <a class="nav-link" href="about.html">About</a>
                <a class="nav-link" href="music.html">Albums & EP's</a>
                <a
                  class="nav-link"
                  aria-current="page"
                  href="../views/dates.html"
                  >Live show dates</a
                >
                <a class="nav-link active" href="contact.html">Contact</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- Fin de header  -->

    <!-- Comienzo de main -->
    <main class="container-fluid g-0">
      <div class="container">
        <div class="row marginSize-2">
          <div class="col-12 text-center text-light fw-bold">
            <h1>Contact</h1>
          </div>
        </div>

        <!--Comienzo de formulario de contacto-->
        <section>
          <div class="container">
            <div class="row align-items-center mb-3">
              <div class="col-12 col-lg-8">
                <form action="" method="get" class="form-control">
                  <fieldset>
                    <legend>
                      Let us know what you think about Eric Prydz, and stay in
                      touch
                    </legend>
                    <div>
                      <textarea
                        name="message"
                        id="message"
                        class="form-control mb-2 parrafos"
                        cols="80"
                        rows="10"
                        placeholder="Leave your message here."
                      ></textarea>
                    </div>
                    <div class="row flex-row">
                      <div class="col-12 col-md-6">
                        <label for="NameSurname">Name & surname:</label>
                        <br />
                        <input
                          type="text"
                          name="NameSurname"
                          id="NameSurname"
                          class="form-control parrafos"
                          placeholder="Name Surname"
                        />
                      </div>
                      <div class="col-12 col-md-6">
                        <label for="email">E-mail address:</label>
                        <br />
                        <input
                          type="email"
                          name="email"
                          id="email"
                          class="form-control parrafos"
                          placeholder="e-mail address"
                        />
                      </div>
                      <div class="col-12 col-md-6">
                        <label for="phoneNumber">Phone number:</label>
                        <br />
                        <input
                          type="tel"
                          name="phoneNumber"
                          id="phoneNumber"
                          class="form-control parrafos"
                          placeholder="(+0) 0-000-0000"
                        />
                      </div>

                      <div class="col-12 col-md-6">
                        <label for="contactReason">Contact reason: </label>
                        <select
                          name="contactReason"
                          id="contactReason"
                          class="form-control parrafos"
                        >
                          <option value="null">-</option>
                          <option value="shows">Shows</option>
                          <option value="music">Music</option>
                          <option value="Other">Other</option>
                        </select>
                      </div>
                    </div>

                    <div>
                      <input
                        type="checkbox"
                        name="newsletter"
                        id="newsletter"
                        value="yes"
                      />
                      <label for="newsletter"
                        >Subscribe to our newsletter.</label
                      >
                    </div>

                    <div>
                      <input type="reset" value="Delete form" />
                      <input type="submit" value="Send" />
                    </div>
                  </fieldset>
                </form>
              </div>
              <div class="col-12 col-lg-4">
                <div class="text-center text-light">
                  <div class="my-5">
                    <h3>Contact info</h3>
                  </div>
                  <div>
                    <p>contact@ericprydz.com</p>
                    <p>Phone number: (+1) 202-555-0126</p>
                    <p>Los Angeles, California, US</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- Fin del main -->

    <!-- Comienzo del footer -->
    <footer class="static-botom footer">
      <div
        class="
          container-fluid
          footer__style
          border-top border-light
          d-flex
          justify-content-between
          align-items-center
        "
      >
        <span class="footer__style-text"
          >© Copyright - developed non-profit by Facundo Berges - 2021</span
        >
        <!-- Social media -->
        <div class="d-flex justify-content-end my-2">
          <a
            href="https://www.youtube.com/channel/UCOjTxt7xBAjh1NraToYYlog"
            target="blank"
          >
            <img
              src="../img/youtube-play-50.png"
              alt="Youtube logo"
              height="30"
              class="pe-2 mediaIcon"
            />
          </a>
          <a
            href="https://open.spotify.com/artist/37U9sPqTZMd7AKJCWgcvkt?si=PEX4wz_IT_Cbcoit4vatqA&dl_branch=1"
            target="blank"
          >
            <img
              src="../img/spotify-50.png"
              alt="Spotify logo"
              height="30"
              class="pe-2 mediaIcon"
            />
          </a>
          <a href="https://www.facebook.com/EricPrydzOfficial" target="blank">
            <img
              src="../img/facebook-50.png"
              alt="Facebook logo"
              height="30"
              class="pe-2 mediaIcon"
            />
          </a>
          <a href="https://www.instagram.com/ericprydz/" target="blank">
            <img
              src="../img/instagram-50.png"
              alt="Instagram logo"
              height="30"
              class="pe-2 mediaIcon"
            />
          </a>
          <a href="https://twitter.com/ericprydz" target="blank">
            <img
              src="../img/twitter-cuadrado-50.png"
              alt="Twitter logo"
              height="30"
              class="pe-2 mediaIcon"
            />
          </a>
        </div>
      </div>
    </footer>
    <!-- Fin del footer -->

    <!-- SCRIPTS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
