<!DOCTYPE html>
<html lang="es">
  <!--  comienzo del head -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Nuestros proveedores</title>
  </head>

  <!--  Comienzo del body  -->
  <body>
    <!--Comienzo de header-->
    <header class="header">
      <div class="header__logo">
        <a href="../index.html">
          <img src="../img/logo.png" alt="Logo de la marca" height="60" />
        </a>
      </div>
      <nav class="header__menu">
        <ul>
          <li>
            <a href="../index.html" class="header__menu--link">Inicio</a>
          </li>
          <li>
            <a href="../views/quienesSomos.html" class="header__menu--link"
              >Quienes Somos</a
            >
          </li>
          <li>
            <a
              href="../views/nuestrosProductos.html"
              class="header__menu--link"
              >Nuestros Productos</a
            >
          </li>
          <li>
            <a
              href="../views/nuestrosProveedores.html"
              class="header__menu--link"
              >Nuestros Proveedores</a
            >
          </li>
          <li>
            <a href="../views/contacto.html" class="header__menu--link"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <!--Comienzo de Main-->
    <main>
      <section>
        <h1 class="main__title" "sec">Nuestros proveedores</h1>
        <br />

        <!--Articulos con imagenes de proveedores-->
        <article class="proveedores">
          <a href="https://www.molinos.com.ar/" target="_blank">
            <img
              src="../img/Molinos_logo.png"
              alt="Logo de Molinos"
              height="70"
            />
          </a>
          <p class="proveedores__text">
            Texto proveedores 1: Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Omnis in placeat sapiente!
          </p>
        </article>
        <br />

        <article class="proveedores">
          <a href="https://www.laserenisima.com.ar/" target="_blank">
            <img
              src="../img/La_serenisima_greenlogo.svg.png"
              alt="Logo de La serenisima"
              height="50"
            />
          </a>
          <p class="proveedores__text">
            Texto proveedores 2: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit maxime omnis animi!
          </p>
        </article>
        <br />

        <article class="proveedores">
          <a href="https://www.ultracomb.com.ar/" target="_blank">
            <img
              src="../img/ultracomb-logo.png"
              alt="Logo de Ultracomb"
              height="80"
            />
          </a>
          <p class="proveedores__text">
            Texto proveedores 3: Lorem ipsum dolor sit, amet consectetur adipisicing elit. A cum eum tempore earum vel. Reiciendis, dolore deserunt!
          </p>
        </article>
      </section>
    </main>

    <!--Comienzo del Footer-->
    <footer class="footer">
      <span>
        <a href="index.html" class="footer__logo">
          <img src="../img/logo.png" alt="Logo de la marca" height="20" />
        </a>
        <p class="footer__paragraph">
          <strong>Come'n'Eat ©</strong> - desarrollado en
          <em>Argentina, 2021</em>
        </p>
      </span>
    </footer>
  </body>
</html>
