<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title>Music - Eric Prydz</title>
    <meta
      name="description"
      content="Eric Prydz music page. Listen to spotify playlist or his EP's and Albums."
    />
    <meta
      name="keywords"
      content="DJ, Eric Prydz, Pryda, Cirez D, Electronic Music, EDM, Progressive, House, Techno, Music, Albums, EP, Songs"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>

  <body class="vh-100 body__color">
    <!-- Comienzo de header -->
    <header class="position-relative mb-5">
      <div class="container">
        <!-- Barra de navegacion -->
        <nav
          class="navbar navbar-expand-lg navbar-dark fixed-top"
          id="navbar__style"
        >
          <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="../index.html">
              <img
                class="albums"
                src="../img/eric-prydz-logo.png"
                alt="Logo de Eric Prydz"
                height="50"
              />
            </a>
            <!-- Menu responsive-->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-end"
              id="navbarNavAltMarkup"
            >
              <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="../index.html"
                  >Home</a
                >
                <a class="nav-link" href="about.html">About</a>
                <a class="nav-link active" href="music.html">Albums & EP's</a>
                <a
                  class="nav-link"
                  aria-current="page"
                  href="../views/dates.html"
                  >Live show dates</a
                >
                <a class="nav-link" href="contact.html">Contact</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- Fin de header  -->

    <!-- Comienzo de main -->
    <main class="container-fluid g-0">
      <div class="container">
        <div class="row-col marginTop-2 marginBottom-1">
          <div class="col-12 text-center text-light fw-bold">
            <h1>MUSIC</h1>
          </div>
        </div>

        <!-- Section con playlist de Spotify-->
        <section class="mb-5 d-none d-md-flex justify-content-between">
          <iframe
            src="https://open.spotify.com/embed/playlist/37i9dQZF1DWYacvJEtDkU8"
            width="47%"
            height="380"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
            class="col-10 col-md-6 py-2"
          ></iframe>

          <iframe
            src="https://open.spotify.com/embed/playlist/37i9dQZF1DZ06evO1OcwOS"
            width="47%"
            height="380"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
            class="col-10 col-md-6 py-2"
          ></iframe>
        </section>

        <!-- Section con albums / ep's-->
        <section class="row-col text-light main marginBottom-1">
          <div
            class="my-3 py-2 col-12 main__subtitle border-bottom border-light"
          >
            <h3>Eric Prydz</h3>
          </div>
          <div class="col-12 align-items-start py-2">
            <div
              class="
                container-fluid
                d-flex
                px-0
                justify-content-center
                flex-wrap flex-container
              "
            >
              <a
                href="https://open.spotify.com/album/4NNdLCqeVIW05mdQiG2zua?si=VWrkRJRkRz6LuRSSeFtKUw&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/EricPrydzPresentsPryda.jpg"
                  alt="Eric Prydz, presents Pryda"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/2Kwbn1H4KMGZAe4MS6uDzU?si=OrprQ7knTd6HYbyMJpFRtQ&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/EricPrydzOpus.jpg"
                  alt="Eric Prydz, Opus"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/track/02dPa4nXABwnFzjZosKxsk?si=7af7795fc72f45a1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/EricPrydzNopus.jpg"
                  alt="Eric Prydz, Nopus EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/track/5LT8hO0Z9Y1nlCJ7nfuSJi?si=9e83885c826b4fc8"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/EricPrydzGenerate.jpg"
                  alt="Eric Prydz, Generate EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/track/6X0WsSsMMwam5AzVxlUUzo?si=d458d3b9b889482a"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/EricPrydzLiberate.jpg"
                  alt="Eric Prydz, Liberate EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/track/0FoSiffuAmaJ3VyPaebY6I?si=1d8a31c37adc41e7"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/MidnightCityEPRemix.jpg"
                  alt="M83 Midnight city, Eric Prydz Remix"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/track/7MuC4m6kiIkhosNfzV7oDg?si=6b10486e4b2241c5"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/EricPrydz2Night.jpg"
                  alt="Eric Prydz, 2Night EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/69NkwnJYbcqtR9MKiGLNiA?si=bR65FsYqTqyY_MBaTvZHCg&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/EricPrydzNiton.jpg"
                  alt="Eric Prydz, Niton EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/6bUjuXnPRsq4MxnPk2ZMDP?si=Nt9DalKcQjeTm31-8vX0Cg&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/EricPrydzPjanoo.jpg"
                  alt="Eric Prydz, Pjanoo EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/2OOBM43Dg3jHlv48Hf8vzs?si=I066JjlpTtKLmrm43ABPIw&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/EricPrydzProperEducation.jpg"
                  alt="Eric Prydz, Prooper education Remix EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/6rLtAT39718G4HXOELGjTs?si=-MUKg8nqRFma-VfYANIlMA&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/EricPrydzCallOnMe.jpg"
                  alt="Eric Prydz Call on me EP"
                  height="170rem"
                />
              </a>
            </div>
          </div>
          <div
            class="
              mt-4
              mb-3
              py-2
              col-12
              main__subtitle
              border-bottom border-light
            "
          >
            <h3>Pryda</h3>
          </div>
          <div class="col-12 align-items-start py-2">
            <div
              class="
                container
                d-flex
                px-0
                justify-content-center
                flex-wrap flex-container
              "
            >
              <a
                href="https://open.spotify.com/album/4fpkx2JGRedr0QEtngqwnn?si=Mi9M7kLjQgCUVO6_L6f9YQ&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda15Vol3.jpg"
                  alt="Pryda 15, Vol. 3 EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/2wYgnlaBE58Iix8L98LVEm?si=zqc4-FzhRBeO8HTkqiOnZw&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda15Vol2.jpg"
                  alt="Pryda 15, Vol. 2 EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/2MSprf6584peQvdVMWAEMt?si=H8YeUXFcQ6-UTY30PZZvdw&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda15Vol1.jpg"
                  alt="Pryda 15, Vol. 1 EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/1z2nyOchnD0RXb1UAoZXVM?si=pa4I9cIvRJWutV-hCSAwCA&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda10Vol3.jpg"
                  alt="Pryda 10, Vol. 3 EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/0TGRpOKY9tqyXzhKOyBcLz?si=YPn7SXRsStCCm5DM91IPJg&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda10Vol2.jpg"
                  alt="Pryda 10, Vol. 2 EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/4sObRME4gqNGEuLdfp8o8b?si=HOgQWl5DT7GWNL06S0VjyA&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda10Vol1.jpg"
                  alt="Pryda 10, Vol. 1 EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/3Fc7CxOxoTCM2Ixyt7Vmer?si=mRuXUryiR4y3rQHm75EDdw&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Elements.jpg"
                  alt="Pryda, Elements EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/track/7twthmMegoAskip42GJocW?si=25091d5dc85f412b"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-StayWithMe.jpg"
                  alt="Pryda, Stay with me EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/track/0wIblt271U2oH60h7w8ECA?si=df44876fa190484a"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Lillo.jpg"
                  alt="Pryda, Lillo EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/4MYiuFosGeaay6aUucyJDQ?si=wYB3h02sQQSE7Rhmj4WF6g&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Choo.jpg"
                  alt="Pryda, Choo / The future / The end is just the beginning EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/3wnIbgPVdRNvHHdQC95TLh?si=ATvunOO7S_CHZHZ9El07GA&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Mija-Origins-Backdraft-Axis.jpg"
                  alt="Pryda, Mija / Origins / Backdraft / Axis EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/track/4zMjjAXT94uRKRVZH07w6g?si=369423bd85da4a96"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-PowerDrive.jpg"
                  alt="Pryda, Power drive EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/0eXu6RJ5gJ8Qyq232cFbY3?si=--JP_CDvR9SYeTmJeI5KpQ&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Lycka-F.A.T.jpg"
                  alt="Pryda, Lycka / FAT EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/4ZjBWKhXRFVVNWSbHZyXTx?si=z_RN1ACwRJOZaDnRFbavcA&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Layers-Rotonda.jpg"
                  alt="Pryda, Layers / Rotonda EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/4jJz8NR5SK6e0YeTRl7Yhi?si=Oltw4ujKSfiXQXVtMEbJAw&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Recomondos-Bergen.jpg"
                  alt="Pryda, Recomondos / Bergen EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/00asES9clRSQ8n0OaY5hqs?si=ucfhzco0SSWSU08ExXurqg&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Mirage-Juletider-WithMe.jpg"
                  alt="Pryda, Mirage / Juletider / With me EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/0yVQmneLvqEH01nPzwI3LO?si=05dWPpdTRSaY9dwlQHXYYA&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Niton-Vega.jpg"
                  alt="Pryda, Niton / Vega EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/1awswNlJCqUOAU9OU8ZXSg?si=y-6ukByJRLCMjTaAA42LhQ&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Illusions-Glimma.jpg"
                  alt="Pryda, Illusions / Glimma EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/32P8z6GQ4xp2dcwsKKegxb?si=YV_PaoqSRkuFTNAk9BUkEg&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-M.S.B.O.Y-TheEnd.jpg"
                  alt="Pryda, M.S.B.O.Y / The end EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/4j12dBGffReKK1JlTrmJ8D?si=xXKSQ9X7SYa5yrbFBjZqoQ&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Viro-Emos.jpg"
                  alt="Pryda, Viro / Emos EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/5aEfLZlLgxsqcGUwJZQWDn?si=t_HAabV6R46RiPxCjG33SA&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Inspiration-RYMD2010.jpg"
                  alt="Pryda, Inspiration / RYMD (2010) EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/1o8XaXBwIK1RL0vhTqEXR7?si=bW2Lp1MAQoqUMuPi9vh_sQ&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Waves-Alfon.jpg"
                  alt="Pryda, Waves / Alfon EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/1yPpBFF3nEDagq6a5eJtL6?si=tKVCNF4tTH-OKnAFwkm1Zw&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Melo-Lift-Reeperbahn.jpg"
                  alt="Pryda, Melo / Lift / Reeperbahn EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/5kbJjM45RUBrhMzfrfapC5?si=TQ_25isnSA2-T4Vwx5L7hw&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/Pryda-Animal-MiamiToAtlanta-Loaded.jpg"
                  alt="Pryda, Animal / Miami to Atlanta / Loaded EP"
                  height="170rem"
                />
              </a>
            </div>
          </div>

          <div
            class="
              mt-4
              mb-3
              py-2
              col-12
              main__subtitle
              border-bottom border-light
            "
          >
            <h3>Cirez D</h3>
          </div>
          <div class="col-12 align-items-start py-2">
            <div
              class="
                container
                d-flex
                px-0
                justify-content-center
                flex-wrap flex-container
              "
            >
              <a
                href="https://open.spotify.com/album/17RkuZtj1Yp1PK6YuZ9Edt?si=6S4_AHoHR02Es_p_UANOkA&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-Valborg-TheRaid.jpg"
                  alt="Cirez D, Valborg / The Raid EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/6JG3cUbzdFyO5VoXMrpzDZ?si=ZUuqJq3aTwegwzkrhSxOpA&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-DareU-TheGlitch-BlackHole.jpg"
                  alt="Cirez D, Dare U / The Glitch / Black Hole EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/track/2EXViaTEpUoqHeDOtdI0oK?si=e6c39665622f4973"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-TheAccuser.jpg"
                  alt="Cirez D, The Accuser EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/7gg9G8ZM3Cr6Rry19MD1TD?si=bKVZSzB-Q_O4GJM-tZ5hpA&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-Backlash-TheTournament.jpg"
                  alt="Cirez D, Backlash / The tournament EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/7MGlinFjtAxBTcKfVaiknx?si=lTNyLcJGRkSda-2G059yUQ&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-InTheReds-CenturyOfTheMouse.jpg"
                  alt="Cirez D, In the reds / Century of the mouse EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/track/7JjagN62s43dNrnQ8qsCHz?si=79f85a17e83145cb"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-Ruby.jpg"
                  alt="Cirez D, Ruby EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/3JokyCIfZqi0HbPLvs68fz?si=RVeaqj6STVqVEtDZ_YlXDw&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-Thunderstuck-DrumsInTheDeep.jpg"
                  alt="Cirez D, Thunderstuck / Drums in the deep EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/track/70ziWTt9TOXGyhP7FGEYIn?si=f78df621506a4b24"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-Mokba.jpg"
                  alt="Cirez D, Mokba EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/1fxWSP3eKsZmTdJj97K8rY?si=6MWf6UviRFahOmd_y_GFsA&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-Tomorrow-SirtosMadness.jpg"
                  alt="Cirez D, Tomorrow / Sirtos madness EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/track/5P1xRzud09qpo95AUA7PVc?si=b95874f579884917"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-FullStop.jpg"
                  alt="Cirez D, Full stop EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/7MdqINmMLraA4ROqDcGsdl?si=DYUUYiCHTmOjdVqj88u_TA&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-TheTumble-Exit.jpg"
                  alt="Cirez D, The thumble / Exit EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/5axLzhQbP5KK7Iwr5yjN1e?si=KQ9X2yWtRcydLpoPK_be8w&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-Bauerpost-Glow.jpg"
                  alt="Cirez D, Bauerpost / Glow (dark dub) EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/5kQstwv94duF0RzApU2pQ5?si=V0btcoN8TsOrOCeTb_F-wg&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-Glow-OnOffRmx.jpg"
                  alt="Cirez D, Glow / On Off (Sebastien Leger Remix) EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/4FfB3ih0ergiHNHpSxzJR9?si=tLfMMSpcRVihDl5ZsdjL5A&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/CirezD-OnOff-FastForward.jpg"
                  alt="Cirez D, On Off / Fast forward EP"
                  height="170rem"
                />
              </a>
            </div>
          </div>

          <div
            class="
              mt-4
              mb-3
              py-2
              col-12
              main__subtitle
              border-bottom border-light
            "
          >
            <h3>Tonja Holma</h3>
          </div>
          <div class="col-12 align-items-start py-2">
            <div
              class="
                container
                d-flex
                px-0
                justify-content-center
                flex-wrap flex-container
              "
            >
              <a
                href="https://open.spotify.com/track/1cKvom0orVIGR4a2dB9Jpm?si=9e48850324c04b65"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/TonjaHolmaAllNight.jpg"
                  alt="Tonja Holma, All Night EP"
                  height="170rem"
                />
              </a>
              <a
                href="https://open.spotify.com/album/3uhGJsidl1qZH03uMPF9xT?si=7sEGywmwS-qicS13UC2M3A&dl_branch=1"
                target="_blank"
              >
                <img
                  class="albums"
                  src="../img/TonjaHolmaTOnjAEP.jpg"
                  alt="Tonja Holma, TOnjA EP"
                  height="170rem"
                />
              </a>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- Fin del main -->

    <!-- Comienzo del footer -->
    <footer class="static-botom footer">
      <div
        class="
          container-fluid
          footer__style
          border-top border-light
          d-flex
          justify-content-between
          align-items-center
        "
      >
        <span class="footer__style-text"
          >© Copyright - developed non-profit by Facundo Berges - 2021</span
        >
        <!-- Social media -->
        <div class="d-flex justify-content-end my-2">
          <a
            href="https://www.youtube.com/channel/UCOjTxt7xBAjh1NraToYYlog"
            target="blank"
          >
            <img
              src="../img/youtube-play-50.png"
              alt="Youtube logo"
              height="30"
              class="pe-2 mediaIcon"
            />
          </a>
          <a
            href="https://open.spotify.com/artist/37U9sPqTZMd7AKJCWgcvkt?si=PEX4wz_IT_Cbcoit4vatqA&dl_branch=1"
            target="blank"
          >
            <img
              src="../img/spotify-50.png"
              alt="Spotify logo"
              height="30"
              class="pe-2 mediaIcon"
            />
          </a>
          <a href="https://www.facebook.com/EricPrydzOfficial" target="blank">
            <img
              src="../img/facebook-50.png"
              alt="Facebook logo"
              height="30"
              class="pe-2 mediaIcon"
            />
          </a>
          <a href="https://www.instagram.com/ericprydz/" target="blank">
            <img
              src="../img/instagram-50.png"
              alt="Instagram logo"
              height="30"
              class="pe-2 mediaIcon"
            />
          </a>
          <a href="https://twitter.com/ericprydz" target="blank">
            <img
              src="../img/twitter-cuadrado-50.png"
              alt="Twitter logo"
              height="30"
              class="pe-2 mediaIcon"
            />
          </a>
        </div>
      </div>
    </footer>
    <!-- Fin del footer -->

    <!-- SCRIPTS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
