<!DOCTYPE html>
<html lang="es">
  <!--  comienzo del head -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Nuestros productos</title>
  </head>

  <!--  Comienzo del body  -->
  <body>
    <!--Comienzo de header-->
    <header class="header">
      <div class="header__logo">
        <a href="../index.html">
          <img src="../img/logo.png" alt="Logo de la marca" height="60" />
        </a>
      </div>
      <nav class="header__menu">
        <ul>
          <li>
            <a href="../index.html" class="header__menu--link">Inicio</a>
          </li>
          <li>
            <a href="../views/quienesSomos.html" class="header__menu--link"
              >Quienes Somos</a
            >
          </li>
          <li>
            <a href="../views/nuestrosProductos.html" class="header__menu--link"
              >Nuestros Productos</a
            >
          </li>
          <li>
            <a
              href="../views/nuestrosProveedores.html"
              class="header__menu--link"
              >Nuestros Proveedores</a
            >
          </li>
          <li>
            <a href="../views/contacto.html" class="header__menu--link"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <!--Comienzo de Main-->
    <main>
      <section>
        <h1 class="main__title">Nuestros productos</h1>

        <!--Tabla con informacion de los productos-->
        <div class="grid">
          <div class="grid__item--title">Imagen del plato</div>
          <div class="grid__item--title">Nombre del plato</div>
          <div class="grid__item--title">Ingredientes</div>
          <div class="grid__image">
            <img
              src="../img/CorderoPatagonico.jpeg"
              alt="Cordero patagonico"
              height="250"
              width="150"
            />
          </div>
          <div class="grid__name">Cordero patagonico</div>
          <div class="grid__info">
            <ul>
              <li>Carne de cordero</li>
              <li>Cebolla</li>
              <li>Ajo</li>
              <li>Apio</li>
              <li>Puerro</li>
              <li>Papa</li>
              <li>Caldo de verduras</li>
            </ul>
          </div>
          <div class="grid__image">
            <img
              src="../img/BondiolaAlDisco.jpeg"
              alt="Bondiola al disco"
              height="200"
              width="150"
            />
          </div>
          <div class="grid__name">Bondiola al disco</div>
          <div class="grid__info">
            <ul>
              <li>Bondiola</li>
              <li>Cebolla</li>
              <li>Ajo</li>
              <li>Papa</li>
              <li>Verdeo</li>
              <li>Morron</li>
              <li>Tomate</li>
              <li>Zanahoria</li>
              <li>Caldo de verdura</li>
              <li>Vino blanco</li>
            </ul>
          </div>
          <div class="grid__image">
            <img
              src="../img/PolloRelleno.jpeg"
              alt="Pollo relleno con salsa de champignones"
              height="150"
              width="250"
            />
          </div>
          <div class="grid__name">Pollo relleno</div>
          <div class="grid__info">
            <ul>
              <li>Pollo</li>
              <li>Clara de huevo</li>
              <li>Crema</li>
              <li>Verdeo</li>
              <li>Vino blanco</li>
              <li>Champignones</li>
              <li>Manteca</li>
              <li>Zanahoria</li>
              <li>Remolacha</li>
            </ul>
          </div>
        </div>

        <h5>Y algunos mas...</h5>
        <br />
      </section>
    </main>

    <!--Comienzo del Footer-->
    <footer class="footer">
      <span>
        <a href="index.html" class="footer__logo">
          <img src="../img/logo.png" alt="Logo de la marca" height="20" />
        </a>
        <p class="footer__paragraph">
          <strong>Come'n'Eat ©</strong> - desarrollado en
          <em>Argentina, 2021</em>
        </p>
      </span>
    </footer>
  </body>
</html>
