<!DOCTYPE html>
<html lang="es">
  <!--  comienzo del head -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Quienes somos</title>
  </head>

  <!--  Comienzo del body  -->
  <body>
    <!--Comienzo de header-->
    <header class="header">
      <div class="header__logo">
        <a href="../index.html">
          <img src="../img/logo.png" alt="Logo de la marca" height="60" />
        </a>
      </div>
      <nav class="header__menu">
        <ul>
          <li>
            <a href="../index.html" class="header__menu--link">Inicio</a>
          </li>
          <li>
            <a href="../views/quienesSomos.html" class="header__menu--link"
              >Quienes Somos</a
            >
          </li>
          <li>
            <a href="../views/nuestrosProductos.html" class="header__menu--link"
              >Nuestros Productos</a
            >
          </li>
          <li>
            <a
              href="../views/nuestrosProveedores.html"
              class="header__menu--link"
              >Nuestros Proveedores</a
            >
          </li>
          <li>
            <a href="../views/contacto.html" class="header__menu--link"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <!--Comienzo de Main-->
    <main>
      <section class="main">
        <div>
          <h1 class="main__title">Quienes somos</h1>
        </div>
        <div class="main__image">
          <img src="../img/quienesSomos.jfif" alt="Fideos nido" />
        </div>
        <div>
          <p class="main__paragraph">
            Texto historia de la empresa: Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Odit fuga velit ratione voluptates commodi
            veritatis, minima a tenetur illum laborum ipsam fugit quam harum
            repellendus. Magnam cumque mollitia, at magni corrupti explicabo
            obcaecati ex sapiente tempora! Debitis sit dolor repellat,
            provident, ducimus eum earum officiis, a est suscipit nemo. Aut
            pariatur minus sunt quos minima veritatis itaque accusamus
            voluptatibus mollitia quod esse nemo doloremque recusandae
            temporibus nisi neque eius, doloribus obcaecati exercitationem
            praesentium dolore architecto.
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque
            vel nobis ipsa mollitia dolor debitis dolore, aliquid reiciendis
            cupiditate assumenda quam dolores esse provident perspiciatis odio!
            Hic aliquid aperiam ea veniam dolorem ipsa porro molestiae tempore
            blanditiis similique sed ex nulla autem reiciendis sit asperiores
            ut, voluptate facere nesciunt exercitationem maiores quas
            accusantium voluptatum. Exercitationem sit repellat ab molestiae,
            neque nobis suscipit magni architecto fuga eum nemo quia
            consequuntur reiciendis.
            <br />
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
            repudiandae eaque nemo? Maiores, dicta soluta. Illum reiciendis at
            unde dicta quasi officiis, voluptatum commodi et, voluptatibus dolor
            atque soluta. Ut dolor ad voluptate ab nisi amet magnam, fugiat
            odio? Atque assumenda accusamus id esse, porro unde eum repudiandae
            asperiores. Iste illum quae similique quisquam amet possimus non
            rerum voluptates ut repellat. Tempore ab laborum nemo animi
            consequuntur distinctio quod id harum quaerat, sunt commodi
            temporibus natus totam quia ad architecto illum. Ab mollitia,
            tempora consequuntur ea aliquid suscipit eum architecto inventore.
            Placeat ad maxime libero nam deleniti cupiditate ipsam atque?
          </p>
        </div>
      </section>
    </main>

    <!--Comienzo del Footer-->
    <footer class="footer">
      <span>
        <a href="index.html" class="footer__logo">
          <img src="../img/logo.png" alt="Logo de la marca" height="20" />
        </a>
        <p class="footer__paragraph">
          <strong>Come'n'Eat ©</strong> - desarrollado en
          <em>Argentina, 2021</em>
        </p>
      </span>
    </footer>
  </body>
</html>
